<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"/>
<title>课程-成绩页面</title>
</head>
<body>
<h1 align="center">课程-成绩对应表</h1>
<div th:if="${not #lists.isEmpty(courses)}" align="center">
<table>
  <thead>
    <tr>
      <th>课程号</th>
      <th>课程名称</th>
      <th>课程分制</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>
  </thead> 
  <tbody>
    <tr th:each="course: ${courses}">
     <td th:text="${course.bno}">Oranges</td>
      <td th:text="${course.bname}">Oranges</td>
      <td th:text="${course.credits}">1002</td>
      <td><a href="#" th:href="@{'/deleteCourse'(bno=${course.bno})}">点我编辑</a></td>
      <td><a href="#" th:href="@{'/deleteCourse'(bno=${course.bno})}">点我删除</a></td>
    </tr>
  </tbody>
  
</table>
</div>

</body>
</html>