<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"/>
<title>学生信息页面</title>
</head>
<body>
<h1 align="center">学生信息页面</h1>
<div th:if="${not #lists.isEmpty(lists)}" align="center">

学号：<span th:text="${lists.student.sno}"></span>
姓名：<span th:text="${lists.student.sname}"></span>
性别：<span th:text="${lists.student.sex}"></span>
<table>
  <thead>
    <tr>
      <th>学号</th>
      <th>课程编号</th>
      <th>成绩</th>
    </tr>
  </thead> 
  <tbody>
    <tr th:each="user: ${lists.selecourses}">
     <td th:text="${user.sno}">Oranges</td>
      <td th:text="${user.bno}">Oranges</td>
      <td th:text="${user.score}">1002</td>
    </tr>
  </tbody>
  
</table>
</div>

</body>
</html>